[Desktop Entry]
Type=Application
Version=1.0
Name=wisty
Comment=Plain text editor
Exec=wisty
Icon=wisty
Terminal=false
Categories=Utility;TextEditor;
StartupNotify=true
